html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

* {
  text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -webkit-text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: border-box;
  }

  &:focus {
    outline: none;
  }
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
  border: none;
}

input {
  border: none;
  padding: 0 16px;
}

figure {
  margin: 0;
}
